// well
// form / #search
// #userDetails
// #userRepos

$darkTeal : #006B6B;
$teal : #009999;
$cyan : #80FFFE;
$lightCyan : #BFFFFE;


body {
  background: $darkTeal;
  background: url(../../img/bg.jpg) ;
  background-size:cover;
  background-attachment: fixed;
}
